{% extends layout %}
{% block  content %}

<main class="container">

    <ul>
        {% for item in items %}
            {% if keyword %}
                {% if (keyword in item.title) or (keyword in item.body)%}
                    <div class="card meeps-card">
                        <div class="card-body">
                            <h5 class="card-title">{{item.title}}</h5>
                            <p class="card-text">{{item.body}}</p>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="card meeps-card">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.body}}</p>
                    </div>
                </div>
            {% endif %}
            {% else %}
        {% endfor %}
    </ul>
    <script src="/javascripts/search.js"></script>
{% endblock %}
</main>