{% extends layout %}
{% block  content %}

<main class="container">
    <form action="/meeps" method="get" class="meeps-card">
        <select id="sort" name="sort" class="form-select" aria-label="Default select example" onchange="this.form.submit()">
            <option selected value="1">Date</option>
            <option value="2">Alphabetically</option>
            <option value="3">Random</option>
        </select>
    </form>

    <ul>
        {% for item in items %}
            {% if keyword %}
                {% if (keyword | lower in item.title | lower) or (keyword | lower in item.body | lower)%}
                    <div class="card meeps-card">
                        <div class="card-body">
                            <h5 class="card-title">{{item.title}}</h5>
                            <p class="card-text">{{item.body}}</p>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="card meeps-card">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.body}}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </ul>
    <script src="/javascripts/search.js"></script>
{% endblock %}
</main>